<div class="bg-custom-orange" id="register-bs">


    <div class="container">
        <div class="pt-2"></div>
        <div class="py-5 d-sm-flex flex-column justify-content-center align-items-center">
            <div class="text-center">
                <h3 class="text-white mb-5"><strong>bookstore-springboot</strong></h3>
            </div>
            <div class="bg-white col-xl-4 col-lg-5 col-md-7 col-sm-9" style="box-shadow: 0 0 25px 0 #a0331b; border-radius: 0.5rem;">
                <div>
                    <i class="bi bi-arrow-repeat fs-5 ms-auto ps-2" id="rnd" (click)="generateUser()"></i>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="p-4 ps-3 pe-3 p-sm-5 pt-sm-2 pb-sm-4 ">
                    <h4 class="fw-normal text-center text-custom-orange pb-4">Registration</h4>
                    <div class="col-12">
                        <label class="form-label mb-0"><small class="fw-bold text-muted">First name</small></label>
                        <input type="text" id="firstname" class="form-control form-control-custom-orange" placeholder="Eg. firstname" formControlName="firstName">
                    </div>
                    <div class="col-12">
                        <label class="form-label pt-1 mb-0"><small class="fw-bold text-muted">Last name</small></label>
                        <input type="text" id="lastname" class="form-control form-control-custom-orange" placeholder="Eg. lastname" formControlName="lastName">
                    </div>
                    <div class="col-12">
                        <label class="form-label pt-1 mb-0"><small class="fw-bold text-muted">User name</small></label>
                        <input type="text" id="username" class="form-control form-control-custom-orange" placeholder="Eg. qwerty123" formControlName="username">
                    </div>
                    <div class="col-12">
                        <label class="form-label pt-1 mb-0"><small class="fw-bold text-muted">Email address</small></label>
                        <input type="text" id="email" class="form-control form-control-custom-orange" placeholder="Eg. example@mail.com" formControlName="email">
                    </div>
                    <div class="col-12">
                        <label class="form-label pt-1 mb-0"><small class="fw-bold text-muted">Password</small></label>
                        <input type="password" id="password" class="form-control form-control-custom-orange" placeholder="Eg. password" formControlName="password">
                    </div>
                    <div class="d-grid text-center pt-4">
                        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-custom-orange  p-2" style="border-radius: 0.5rem !important;">Register</button>
                    </div>
                </form>
                <div class="text-center p-4 pt-3 mt-2 bg-light" style="border-top: 1px solid #c4c4c4; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
                    <h5 class="pb-0 mb-0">
                        <a [routerLink]="['/login']" class="text-custom-orange">Login</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    
</div>