<app-loader *ngIf="isLoading && !isError"></app-loader>
<app-error class="p-5 text-center" *ngIf="isError"></app-error>
<div class="pt-3" *ngIf="!isLoading && !isError">
    <ul class="list-group">
        <li class="list-group-item bg-light">
            <div class="p-0 text-start d-flex align-items-center">
                <h4 th:text="|Reviews (${#lists.size(book.reviews)})|" class="m-0" id="reviews">Reviews ({{reviews.length}})</h4>
                <a th:href="@{/books/add-review(bookid=${book.id})}" class="btn btn-custom-orange  ms-auto">+ Add Review</a>
            </div>
        </li>
        <div *ngIf="reviews.length === 0">
            <li class="list-group-item text-center  p-5">
                <span class="text-muted">No Reviews Yet!</span>
            </li>
        </div>
        <li *ngFor="let review of reviews" class="list-group-item">
            <div class="bg-white">
                <div>
                    <div class="p-2 d-flex">
                        <img class="rounded-circle" th:src="${review.user.image}" src="https://dummyimage.com/50x50/bdbdbd/fff&text=placeholder" width="50" height="50" alt="">
                        <div class="ms-1 row text-start">
                            <div>
                                <a th:href="@{/user/{user}(user = ${review.user.userName})}" class="text-black text-decoration-none">
                                    <small>{{review.username}}</small>
                                </a>
                            </div>
                            <small class="text-muted">Reviewed on {{review.timestamp | date:'dd MMMM yyyy'}}</small>
                        </div>
                        <div th:if="${review.user.userName == #authentication.name}" class="ms-auto">
                            <a th:href="@{/books/delete-review(reviewId=${review.id})}" class="text-danger">
                                <i class="bi bi-x-circle-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ps-3 pb-2 text-start">
                        <div class="col">
                            <small th:if="${review.rating == 1}" class="text-warning"><div th:replace="fragments/elements :: 1-star"></div></small>
                            <small th:if="${review.rating == 2}" class="text-warning"><div th:replace="fragments/elements :: 2-star"></div></small>
                            <small th:if="${review.rating == 3}" class="text-warning"><div th:replace="fragments/elements :: 3-star"></div></small>
                            <small th:if="${review.rating == 4}" class="text-warning"><div th:replace="fragments/elements :: 4-star"></div></small>
                            <small th:if="${review.rating == 5}" class="text-warning"><div th:replace="fragments/elements :: 5-star"></div></small>
                        </div>
                        <div>
                            <h5 class="p-0 m-0">{{review.title}}</h5>
                        </div>
                    </div>
                    <div class="text-start ps-3 text-muted pb-3">
                        <p>
                            {{review.content}}
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
